<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>AGREGAR PANADERO</title>
</head>
<body>
    <h1>Agregar panadero</h1>
    <form action="{{url_for('baker.add')}}" method="post">
        <label for="nombrepana">Nombre:</label>
        <input type="text" id="nombrepana" name="nombrepana" required>
        <label for="especipana">Especialidad:</label>
        <input type="text" id="especipana" name="especipana" required>
        <button type="submit">Agregar panadero</button>
    </form>
</body>
</html>